*{
 font-size: 1.3vw; 
 font-family: "Epilogue", sans-serif; 
 } 
html { 
 --scrollbarBG: #fff;
 --thumbBG: #90a4ae; 
 } 
body { 
 background: #ccc;
  } 
body .card { 
   height: 500px; 
   width: 100%; 
   border-radius: 10px;
   background-color: lightblue;
   margin-left: 5px; 
   
   margin-top: 5vw;
    box-shadow: 2vw 2vw 12vw 3vw #ccc;
     } 
body .card #header { 
     height: 5vw; 
     background: #000; 
     padding: 0vw; 
 } 
 body .card #header h1 { 
   color: #fff; 
   font-size: 2vw;
   text-align:center; 
   font-family: "Finger Paint", cursive; padding: 1vw; 
   } 
body .card #message-section::-webkit-scrollbar { 
width: 10px; 
} 
body .card #message-section { 
height: 32vw; 
padding: 0 2.5vw; 
overflow-y: auto; 
scrollbar-width: thin; 
scrollbar-color: var(--thumbBG) var(--scrollbarBG); 
} 
body .card #message-section::-webkit-scrollbar-track { 
background: var(--scrollbarBG); 
} 
body .card #message-section::-webkit-scrollbar-thumb { 
    background-color: var(--thumbBG);
    border-radius: 6px; 
    border: 3px solid var(--scrollbarBG); 
    } 
body .card #message-section #bot, body .card #message-section #user { 
position: relative; 
bottom: 0; 
min-height: 1.5vw; 
border: 0.15vw solid #777; 
background-color: #fff; 
border-radius: 0px 1.5vw 1.5vw 1.8vw; 
padding: 1vw; 
margin: 1.5vw 0; 
} 
body .card #message-section #user { 
border: 1.5px solid #000; 
border-radius: 1.5vw 0vw 1.5vw 1.8vw; background-color: #000; 
float: right; 
} 
body .card #message-section #user #user-response { 
color: #fff; 
} 
body .card #message-section .message { 
color: black; 
clear: both; 
line-height: 1.2vw; 
height: 30px;
width:200px;
font-size: 50px; 
padding: 8px; 
position: relative; 
margin: 8px 0; 
max-width: 85%; 
word-wrap: break-word; 
z-index: 2; 
} 
body .card #input-section { 
z-index: 1; 
padding: 0 2.5vw; 

display: flex; 
flex-direction: row; 
align-items: flex-end; 
font-size:20px;
overflow: hidden; 
height: 20vw; 
width: 100%; 
} 
body .card #input-section input { 
color: #000; 
min-width: 0.5vw; 
outline: none; 
height: 10vw; 
font-size:20px;
border-radius:5px;
width: 50vw; 
border-top: none; 
border-left: none; 
border-right: none; 
border-bottom: solid #000 0.1vw; 
} 
body .card .send { 
background: transparent; 
border: 0; 
cursor: pointer; 
flex: 0 0 auto; 
margin-left: 1.4vw; 
margin-right: 0vw; 
padding: 0; 
position: relative; 
outline: none; 
} 
body .card .send .circle { 
position: relative; 
width: 10.8vw; 
height: 14.8vw; 
display: flex; 
align-items: center; 
justify-content: center; 
} 
body .card .send .circle i { 
font-size: 10vw; 
color:blue;
margin-left: -1vw; 
margin-top: 1vw;
}

